[push]
    default = simple
    autoSetupRemote = true

[credential]
    helper = osxkeychain

[user]
    name = Adam Neumann
    email = noizwaves@users.noreply.github.com

[core]
    pager = delta
    excludesfile = ~/.gitignore

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[includeIf "hasconfig:remote.*.url:git@github.com:Gusto/**"]
    path = .gitconfig_inc_gusto

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
